.profile__avatar-button {
  height: 100%;
  width: 100%;
  background-image: url(../../../images/avatar-edit-button.svg);
  background-size: 26px 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .4s;
}

.profile__avatar-button:hover {
  opacity: 0.5;
}
