.cards-grid__heart-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/cards-grid-heart-button.svg);
  background-repeat: repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cards-grid__heart-button:hover {
  transition: opacity .4s;
  opacity: 0.6;
}

.cards-grid__heart-button_active {
  background-image: url(../../../images/cards-grid-heart-button--active.svg);
}