.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0px auto;
  padding: 45px 0px 60px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
}

@media screen and (max-width: 438px){
  .page {
    padding: 28px 0px 36px;
  }
}