.popup__input-container {
  min-width: 83.25%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  border: 0px;
  gap: 30px;
}

@media screen and (max-width: 320px) {
  .popup__input-container {
    min-width: 84.4%;
    padding-top: 5px;

  }
}