.popup__handlers {
  min-width: 83.25%;
  margin: 11.16% 0px 8.6%;
  padding: 0px;
  border: 0px;
}

@media screen and (max-width: 320px) {
  .popup__handlers {
    min-width: 84.4%;
    margin-top: 45px;
  }
}