.popup__button-close {
  background-image: url(../../../images/Close-Icon.svg);
  min-width: 32px;
  min-height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border-style: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__button-close:hover {
  transition: opacity .4s;
  opacity: 0.6;
}

@media screen and (max-width: 595px) {
  .popup__button-close {
    min-width: 20px;
    min-height: 20px;
    top: -36px;
    right: 0;
  }
}