.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: max-content 24px;
  column-gap: 18px;
  row-gap: 7px;
  align-items: end;
  grid-template-areas:
  "name button"
  "bio bio";
} 

@media screen and (max-width: 603px){
  .profile__info {
    padding-left: 42px;
    grid-template-areas:
    "name button"
    "bio .";
  }
}

@media screen and (max-width: 400px){
  .profile__info {
    padding-left: 28px;
    grid-template-columns: max-content 18px;
    max-width: 282px;
    row-gap: 7px;
    column-gap: 10px;
  }
}