.popup__item {
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0px 0px 9px;
  font-family: inherit; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline-style: none;
}

.popup__item:focus {
  /*бриф: любой интерактив элемент должен иметь состояние наведения или фокуса*/
  background-color: rgba(0, 0, 0, 0.02);
}
