.popup__header {
  width: 100%;
  margin: 0px 0px 48px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  align-self: start;
}

@media screen and (max-width: 320px) {
  .popup__header {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }
}
