.popup {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  color: #000000;
  transition: opacity 1s linear, visibility 1s linear;
}
